* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg,
svg * {
    transition: 0.3s ease-out;
}

svg:hover {
    transform: scale(1.5);
}

svg:active #check-mark {
    stroke: #55D21A;
}